body{
    /* height: 100%;
    width: 100%;
    position: fixed; */
    /* background-color: gray; */
}

body * {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

#top-div{
    width: 100%;
    background-color: green;
    position: sticky;
    display: inline-flex;
    top: 0;
    text-align: center;
    flex-direction: column;
    color: aliceblue;
}

#nav-bar{
    height: 20px;
    background-color: rgb(1, 66, 1);
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main{
    background-color: rgba(139, 136, 136, 0.426);
    /* height: 88vh; */
    /* height: 100%; */
    /* position: relative; */
    padding: 5px;
}

#bottem-div{
    height: 4vh;
    background-color: green;
    position: sticky;
    bottom: 0;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-div{
    height: 80px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    font-size: small;
    top: 10px;
    /* position: relative; */

}

#Training-Details{
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    font-size: small;
    top: 10px;
}

#ditailes-header{
    height: 80px;
    /* background-color: rgb(41, 94, 140); */
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: small;
    top: 10px;
    position: relative;
}

#ditails{
    height: 800px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    font-size: small;
    top: 10px;

}

#links{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    
}

.link-div{
    height: 80px;
    width: 400px;
    background-color: rgba(169, 163, 163, 0.585);
    border-radius: 10px;
}

.link-div:hover{
    background-color: rgb(236, 222, 222);
}

h4, h5, h2, p{
    margin: 10px;
    padding: 10px;
}

.to-bol{
    font-weight: 1000;

}

#sign-up-h{
    color: rgb(1, 85, 1);
}

#my-input *{
    width: 95%;
    margin: 10px;
}

label{
    margin: 10px;
}

#Gender{
}

#sign-up{
    background-color: green;
    color: aliceblue;
}