#top-div{
    width: 100%;
    background-color: green;
    position: sticky;
    display: inline-flex;
    top: 0;
    text-align: center;
    flex-direction: column;
    color: aliceblue;
}

#nav-bar{
    height: 20px;
    background-color: rgb(1, 66, 1);
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main{
    background-color: rgba(139, 136, 136, 0.426);
    padding: 5px;
}

#bottem-div{
    height: 4vh;
    background-color: green;
    position: sticky;
    bottom: 0;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-div{
    height: 90px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    font-size: small;
    top: 10px;

}

#Training-Details{
    background-color: aliceblue;
    margin: 10px;
    border-radius: 7px;
    font-size: small;
    top: 10px;
}

#ditailes-header{
    height: 80px;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 7px;
    font-size: small;
    top: 10px;
    position: relative;
}

#ditails{
    background-color: aliceblue;
    margin: 10px;
    padding: 15px;
    border-radius: 7px;
    font-size: small;
    top: 10px;

}

#ditails-page-2{
    height: 600px;
    background-color: aliceblue;
    margin: 10px;
    padding: 15px;
    border-radius: 7px;
    font-size: small;
    top: 10px;

}

#links{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    
}

.link-div{
    height: 80px;
    width: 600px;
    background-color: rgba(169, 163, 163, 0.315);
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link-div:hover{
    background-color: rgb(236, 222, 222);
}

h4, h5, h2, p{
    margin: 10px;
    padding: 10px;
}

.to-bol{
    font-weight: 1000;

}

#sign-up-h{
    color: rgb(1, 85, 1);
}

#my-input *{
    width: 95%;
    margin: 10px;
}

label{
    margin: 10px;
}


#sign-up{
    background-color: green;
    color: aliceblue;
}

.aaaa{
    background-color: antiquewhite;
    border-radius: 10px;
}